{% extends 'base.html.twig' %}

{% block title %} Accès interdit {% endblock %}

{% block body %}
    <div class="error">
        <h1 class="errorNumber">401</h1>
        <img class="imageError" src="../../assets/images/Glass-wine.png" alt="">
        <h2>...</h2>
        <p class="errorMessage">Autorisation Requis</p>

    </div>

{% endblock %}