{% extends 'base.html.twig' %}

{% block title %} Accès interdit {% endblock %}

{% block body %}
    <div class="error">
        <h1 class="errorNumber">403</h1>
        <img class="imageError" src="../../assets/images/Glass-wine.png" alt="" width="120" height="70">
        <h2>...</h2>
        <p class="errorMessage">L'accès ne vous est pas autorisé</p>

    </div>

{% endblock %}