{% extends 'base.html.twig' %}

{% block title %} Page non trouvée {% endblock %}

{% block body %}
<div class="error">
    <h1 class="errorNumber">404</h1>
    <img src="../../assets/images/Glass-wine.png" alt="" width="120" height="70">
    <h2>...</h2>
    <p class="errorMessage">La page que vous recherchez n'existe pas.</p>

</div>

{% endblock %}



